<h2>add a song<h2>
<form action="/songs" method="POST">
    <p><h3> title: <input type="text" name="title"></h3></p>
    <p><h3> genre: <input type="text" name="genre"></h3></p>
    <p><h3> composer: <input type="text" name="composer"></h3></p>
    <input class="btn btn-primary" type="submit" value="submit">
</form>
