this is the song page where it will display all of the
songs stored within this account
<br>
<br>
<br>
<p> <a href="/">home</a> </p>

<% @songs.each do |s| %>
<a href= "/songs/<%=s.id%>"> </a> <%= s.title %> 
<% end %> 

add a 'logout' option