<h2>users</h2>



<h3>sign up</h3>
<form action="signup" method="POST">
    <p>name: <input type="text" name="username"></p>
    <p>email address: <input type="text" name="email"></p>
    <p>password: <input type="text" name="password_digest">
    <input class="btn btn-primary" type="submit">
</form>


    