
<form method="POST" action="/login">
    <p>username: <input type="text" name="username"></p>
    <p>password: <input type="password" name="password"></p>
    <input type="submit" value="log in"><br><br>
</form>

