
<h1><%=@song.title%></h1>

<form action="/songs/<%=@song.id%>" method="POST">
<input type="hidden" name="_method" value="PATCH">
    <p><h3> title: <input type="text" name="title"></h3></p>
    <p><h3> genre: <input type="text" name="genre"></h3></p>
    <p><h3> composer: <input type="text" name="composer"></h3></p>
    <input class="btn btn-primary" type="submit" value="submit">
</form>  