


<% @songs.each do |s| %>
<% if s.user_id == current_user.id %>
<p><h1> <%= s.title%> </h1> </p>
<%= "by" %>
<p> <%= s.composer %></p>
<p><a href="songs/<%= s.id %>"> view song </a></p> 
<% end %> 
<% end %>
<br>
<br>
<p> <a href="songs/new">add a new song</a></p>