<h3>sign up</h3>
<br>
<form action="/signup" method="POST">
    <p>username: <input type="text" name="username"></p>
    <p>password: <input type="text" name="password_digest">
    <p><input class="button" type="submit"></p>
</form>


    